# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\iamhere_SSM_study\CarRent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
